<!-- <header class="header fixed-top">
  <img src="https://cdn.builder.io/api/v1/image/assets/6bde1fe88380450c8315d7462734696d/94e06064140b2075909ddb822b84e8dfb28d8d3316c2d29b77dfde3fe0f5c9b8?apiKey=6bde1fe88380450c8315d7462734696d&" alt="Logo" class="logo" />
  <nav class="navigation">
    <ul class="nav-list">
      <li class="nav-item">DashBoard</li>
      <li class="nav-item active">Appointment</li>
      <li class="nav-item" routerLink="/admin">Pets</li>
      <li class="nav-item">Veterians</li>
      <li class="nav-item">Reports</li>
      <li class="nav-item">Help Center</li>
    </ul>
  </nav>
  <div class="user-profile">
    <div class="user-info">
      <p class="user-name">Udayanka Dilshan</p>
    </div>
    <div class="user-avatar">U</div>
  </div>
</header> -->

<div>
  <a class="appoinment-button" style="margin-top: 130px; margin-left: 80px;" routerLink="/add-appointment">
    <div>
      <i class="bi bi-plus-circle-fill"></i>
    </div>
    <div>
      <span class="visually-hidden">Add Appointment</span>
    </div>
    <h5>Add Appointment</h5>
  </a>
</div>

<div class="container" style="margin-top: 20px">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>No</th>
        <th>Appointment ID</th>
        <th>Pet ID</th>
        <th>Description</th>
        <th>Date</th>
        <th>Time</th>
        <th>CategoryId</th>
        <th>Pet Name</th>
        <th>Pet Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointmentList; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ appointment.appointmentId }}</td>
        <td>{{ appointment.petId }}</td>
        <td>{{ appointment.description }}</td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.time }}</td>
        <td>{{ appointment.categoryId }}</td>
        <td>{{ appointment.petName }}</td>
        <td>{{ appointment.petType }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteAppointmentById(appointment.appointmentId)">
            <i class="bi bi-trash-fill"></i>
        </button>
          <button class="btn btn-primary btn-sm" (click)="openUpdateModal(appointment)"><i class="bi bi-pencil-square"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updatePetModal" tabindex="-1" aria-labelledby="updatePetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatePetModalLabel">Update Appointment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="petId" class="form-label">Appointment ID</label>
            <input type="text" id="appointmentId"class="form-control" [value]="selectetAppointment.appointmentId" disabled />
          </div>
          <div class="mb-3">
            <label for="petId" class="form-label">Pet ID</label>
            <input type="text" id="petId" class="form-control" [value]="selectetAppointment.petId" disabled />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Pet Name</label>
            <input type="text" id="petName" class="form-control" [(ngModel)]="selectetAppointment.petName" name="petName" />
          </div>
          <div class="mb-3">
            <label class="form-label">Category</label>
            <select class="form-select" [(ngModel)]="selectetAppointment.categoryId" name="categoryId" required>
              <option value="A">Category A</option>
              <option value="B">Category B</option>
              <option value="C">Category C</option>
              <option value="D">Category D</option>
            </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Pet Type</label>
          <select class="form-select" [(ngModel)]="selectetAppointment.petType" name="petType" required>
            <option value="Dog">Dog</option>
            <option value="Cat">Cat</option>
            <option value="Birds">Birds</option>
            <option value="Rabbit">Rabbit</option>
          </select>
      </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" id="description" class="form-control" [(ngModel)]="selectetAppointment.description" name="description" />
          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" id="date" class="form-control" [(ngModel)]="selectetAppointment.date" name="date" />
          </div>
          <div class="mb-3">
            <label for="time" class="form-label">Time</label>
            <input type="time" id="time" class="form-control" [(ngModel)]="selectetAppointment.time" name="time" />
          </div>
          <div class="mb-3">
            <label for="ownerName" class="form-label">Owner Name</label>
            <input type="text" id="ownerName" class="form-control" [(ngModel)]="selectetAppointment.ownerName" name="ownerName" />
          </div>
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="tel" id="phoneNumber" class="form-control" [(ngModel)]="selectetAppointment.phoneNumber" name="phoneNumber" />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="selectetAppointment.email" name="email" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updatePet()">Save changes</button>
      </div>
    </div>
  </div>
</div>
