<div class="container">
    <h2>Report List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Report ID</th>
          <th>Pet ID</th>
          <th>Category</th>
          <th>Date</th>
          <th>Note</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let report of reports">
          <td>{{ report.reportId }}</td>
          <td>{{ report.petId }}</td>
          <td>{{ report.category }}</td>
          <td>{{ report.date }}</td>
          <td>{{ report.note }}</td>
          <td>
            <button (click)="downloadReport(report.fileName)" class="btn btn-primary">
              Download
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  